
:root {
    --color-dark: #252f38;
    --color-light: #e1e5ea;
    --color-background: #edebe3;
    --color-border: #f5a583;
}

/*
 * [Modified] Modern CSS Reset
 * @link https://github.com/hankchizljaw/modern-css-reset
*/
/* Box sizing rules */
*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
h6,
ul {
    margin: 0;
}

::-moz-selection {
color: var(--color-light);
background: var(--color-dark);
}

::selection {
color: var(--color-light);
background: var(--color-dark);
}
  

/* Set core body defaults */
body {
    min-height: 100vh;
    font-size: 100%;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
    overflow-x: hidden;
}

/* Make images easier to work with */
img {
    display: block;
    max-width: 100%;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    * {
        -webkit-animation-duration: 0.01ms !important;
                animation-duration: 0.01ms !important;
        -webkit-animation-iteration-count: 1 !important;
                animation-iteration-count: 1 !important;
        -webkit-transition-duration: 0.01ms !important;
                transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

html {
    min-width: 550px;
    -ms-overflow-style: none;
    scrollbar-width: none;
    scroll-behavior: smooth;
}
html::-webkit-scrollbar { 
    display: none;
}

header {
    grid-area: header;
    border: 10px solid var(--color-border);
    min-height: 100vh;
    position: relative;
    text-align: center;
    place-content: center;
    display: block;
    background-position: center;
    background-size: cover;
    -webkit-animation: colors 30s linear infinite;
            animation: colors 30s linear infinite;
}
@-webkit-keyframes colors {
    0% { background-color: #18227e60; }
    50% { background-color: #fffbcf50; }
    100% { background-color: #18227e60; }
}
@keyframes colors {
    0% { background-color: #18227e60; }
    50% { background-color: #fffbcf50; }
    100% { background-color: #18227e60; }
}
#header-image {
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    z-index: -1;
}

  header h1 {
    font-size: 4.2rem;
    margin-bottom: 1rem;
    background-color: var(--color-border);
    border: solid 2px var(--color-border);
  }
  header h2 {
    font-size: 1.77rem;
    margin-bottom: 1rem;
  }
  header p {
    background-color: var(--color-border);
    border: solid 2px var(--color-border);
  }

header a,
main a,
aside a,
footer a {
    text-decoration: none;
    color: var(--color-dark);
    border-bottom: solid 2px var(--color-dark);
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
header a svg,
main a svg,
aside a svg,
footer a svg {
    width: 0.8rem;
    height: 0.8rem;
    fill: var(--color-background);
    margin-right: 5px;
}
header a:hover,
header a:focus,
main a:hover,
main a:focus,
aside a:hover,
aside a:focus,
footer a:hover,
footer a:focus {
    background-color: var(--color-dark);
    color: var(--color-light);
}
header a:hover svg,
header a:focus svg,
main a:hover svg,
main a:focus svg,
aside a:hover svg,
aside a:focus svg,
footer a:hover svg,
footer a:focus svg {
    fill: var(--color-border);
}

.top-padding {
    border-left: 10px solid var(--color-border);
    border-right: 10px solid var(--color-border);
    height: 3rem;
}
nav {
    position: sticky;
    top: 0;
    height: 0;
    z-index: 10;    
    
}
nav a {
	background: var(--container-bg);
	color: var(--container-color);
	padding: 4px 8px;
	font-size: 1.2em;
	white-space: pre;
	border-top-left-radius: 0.5em;
}
ul {
    list-style: none;
    padding: 0;
    width: 0;
}
nav ul li {
    padding: 0 18px;
}
nav ul li:first-child {
    padding-top: 1em;
}
nav ul li a:hover,
nav ul li a:focus {
    border-left: solid 4px var(--color-background);
    border-bottom: 0;
}
nav ul li a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: bold;
    letter-spacing: 0.1em;
    line-height: 1em;
    text-align: center;
    white-space: nowrap;
    color: var(--color-dark);
    border-left: solid 4px #99b7bb;
    border-bottom: 0;
}

body {
    font-family: "Karla", sans-serif;
    font-size: 18px;
    background-color: var(--color-background);
    color: var(--color-dark);
}

main {
    grid-area: main;
    text-align: start;
    border: 10px solid var(--color-border);
    border-top: 0;
    margin: 0;
    padding: 0 3% 0 180px;
}

hr {
    border: 0;
    width: 50vw;
    max-width: 700px;
    height: 15px;
    background-image: repeating-linear-gradient(
        -45deg,
        transparent 0 2px,
        var(--color-border) 2px 4px
    );
    margin-top: 3em;
    margin-bottom: 3em; 
}

article {
    position: relative;
    max-width: 1180;
}
article h2 {
    font-family: "Abril Fatface", "Georgia", "Times New Roman", cursive;
    font-size: 3rem;
    font-weight: normal;
    color: #557a80;
    line-height: 1em;
}
article h3 {
    text-transform: uppercase;
    line-height: 1em;
    letter-spacing: 0.1em;
    position: relative;
    padding-bottom: 0.8rem;
}
article h3:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 50px;
    height: 4px;
    background-color: var(--color-border);
}
article section blockquote {
    margin: 1.5rem 0;
    padding: 0.75rem 20px 70px 20px;
    border: solid 2px var(--color-border);
    -webkit-box-shadow: 5px 5px 0 var(--color-border);
            box-shadow: 5px 5px 0 var(--color-border);
}
article section ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
article section ul li {
    padding: 5px 12px;
    margin: 2px;
    background-color: var(--color-dark);
    color: var(--color-background);
    font-family: monospace;
    font-size: 0.9rem;
}
article section ol {
    list-style: none;
    counter-reset: steps;
    padding-left: 1rem;
    margin-bottom: 3rem;
}
article section ol li {
    counter-increment: steps;
    padding-left: 1.5rem;
    padding-bottom: 1rem;
    position: relative;
    border-left: dashed 2px var(--color-border);
    color: var(--color-border);
}
article section ol li em {
    color: var(--color-dark);
}
article section ol li.special {
    margin-top: 14px;
}
article section ol li.special span {
    margin: 10px 0 10px 10px;
    padding: 5px 12px;
    background-color: var(--color-dark);
    color: var(--color-light);
    font-family: monospace;
    font-size: 0.9rem;
}
article section ol li:before {
    content: counter(steps);
    font-weight: bold;
    width: 2rem;
    height: 2rem;
    padding: 5px;
    border-radius: 50%;
    background-color: var(--color-border);
    position: absolute;
    left: calc(-1rem - 1px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
article section ol li:last-child {
    border-left: 0;
}
article section a.link-button {
    display: inline-block;
    color: var(--color-dark);
    font-weight: bold;
    white-space: nowrap;
    background-color: var(--color-border);
    border: solid 2px var(--color-border);
    padding: 8px 20px;
    text-align: center;
}
article section a.link-button:hover,
article section a.link-button:focus {
    color: var(--color-border);
    background-color: var(--color-dark);
}
blockquote a.link-button {
    float: right;
}

footer.page-footer {
    grid-area: footer;
    background-color: var(--color-dark);
    color: var(--color-background);
}
footer.page-footer a {
    color: var(--color-background);
}
footer.page-footer a:hover,
footer.page-footer a:focus {
    color: var(--color-dark);
}
footer.page-footer .container {
    margin: 0 auto;
    padding: 1.5rem 0 0 180px;
    padding-bottom: 0;
    font-size: 1rem;
}

.special {
    display: flex;
}

.body-image {
    float: right;
    max-width: 350px;
    padding-left: 30px;
}

.project-image {
    display: flex;
    align-items: center;
}

.sm-hide {
    display: none;
}

.sm-project-image {
    max-width: 350px;
    margin: auto;
    margin-top: 20px;
}

.fade-in {
	color: var(--color-dark);
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-duration: 1.5s;
}
@keyframes fadeInOpacity {
	0% {
		color: var(--color-border);
	}
	100% {
		color: var(--color-dark);
	}
}

#chicken{
    margin-left: auto;
    width: 7%;
}
